body {
    color: #33333;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
}

a {
    color: #333;
}
a:visited {
    color: #333;
}
a:hover {
    color: #333;
}

#mori {
    color: #003300;
    margin: 0px 0px 0px -5px;
    font-size: 84px;
}

#mori-nav {
    background-color: #efffef;
    border-right: 1px solid #ccc;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
    width: 220px;
    box-sizing: border-box;
    padding: 35px 10px 10px 20px;
}

#mori-content {
    position: absolute;
    left: 220px;
    top: 0px;
    box-sizing: border-box;
    padding-left: 25px;
}

#mori-nav ul {
    padding: 0;
    list-style: none;
}

#mori-nav ul li {
    font-size: 12px;
    padding: 0;
    list-style: none;
    font-family: Helvetica, Arial, sans-serif;
}

.toc-title {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-decoration: underline;
}

#mori-content {
    width: 650px;
}

#mori-content p,
#mori-content ul li {
    font-size: 13px;
    line-height: 1.5em;
}

#mori-content h2 {
    color: #030;
    font-family: helvetica, arial, sans-serif;
}
#mori-content h3 {
    color: #030;
    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
}

.example {
    padding: 2px 10px;
    border: 1px solid #bcb;
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}
.code {
    font-size: 13px;
    overflow-y: hidden;
}
#mori-content .syntaxhighlighter {
    overflow-y: hidden !important;
}
h3 .sig {
    color: #666;
    font-family: courier, mono;
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
}