/pom.xml
*jar
/lib
/classes
/target
/native
/.lein-failures
/checkouts
/bin/lein
/.lein-deps-sum
.lein*
bonsai*.js
!/spec/mori*.js
!/support/scripts/mori.js
*.swp
.#*
_site
node_modules
npm-debug.log
out-*
*init.clj
.DS_Store
.idea
release