/pom.xml
*jar
/lib
/classes
/target
/native
/.lein-failures
/checkouts
/.lein-deps-sum
.lein*
mori.bare.js
mori.dev.js
*.swp
.#*
_site
node_modules
npm-debug.log

bin
scripts
spec
src
support
.npmignore
.travis.yml
project.clj
